.poster-image{
  width:  250px;
  height: 400px;
}

.form-data{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.comment-section{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card-title{
  text-transform: capitalize;
}

.box{
  
  border: 0 solid black;
  box-sizing: border-box;
 
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;

  margin-right: 0px;
  margin-top: 0px;
  min-height: 0px;
  min-width: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  position: relative;
  z-index: 0;
}
