.poster-image{
  width:  250px;
  height: 400px;
}

.form-data{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.comment-section{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

